article {
    background-color: white;
    width: 100%;
    padding: var(--vertical-margin) 30px;
}

article h1 {
    text-align: center;
    text-transform: capitalize;
}

.acid_cards p {
    text-transform: capitalize;
}

.acid_cards {
    margin-top: var(--vertical-margin);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
