.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;

    background: #bcffff;
    margin-bottom: 30px;
}

.title {
    background: #3580b7;
    color: white;
    width: 100%;
    padding: 20px 0;
    font-size: large;
}

.molecular {
    background: #a1d7ff;
    width: 100%;
}
.molecular img {
    height: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.structure {
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #42c3c3;
    border-top: none;
}
.structure img {
    width: 250px; 
    margin: 20px 0;
}
