nav {
    background-color: #E7E9EB;
    min-height: inherit;
    width: 30%;
    padding: var(--vertical-margin) 25px;
    text-align: left;
}

ul {
    margin-top: 15px;
    list-style-type: none;
}

nav li {
    margin-bottom: 8px;
    text-align-last: justify;
}

a {
    text-decoration: none;
    text-transform: capitalize;
}

.nav-tabs {
    cursor: pointer;
}
