@import url("./components/header.css");
@import url("./components/main.css");
@import url("./components/in-main/nav.css");
@import url("./components/in-main/article.css");
@import url("./components/in-main/card.css");

:root {
    --app-logo-height: 15vmin;
    --vertical-margin: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App {
    text-align: center;
    background-color: #896BC9;
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }
  
  .wrapper {
    width: 85%;
  }

  [x-cloak] { display: none !important; }
